name: Java CI
on:
  pull_request:
    branches:
    - release/*
  push:
    branches:
    - release/*
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java_version: [8, 11]
        os:
        - ubuntu-latest
    env:
      JAVA_OPTS: "-XX:+TieredCompilation -XX:TieredStopAtLevel=1"
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java_version }}
    - uses: actions/cache@v2.1.2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Cache SonarCloud packages
      uses: actions/cache@v2.1.2
      if: ${{ github.repository == 'dropwizard/metrics' && matrix.java_version == '11' }}
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os }}-sonar
        restore-keys: ${{ runner.os }}-sonar
    - name: Build
      run: ./mvnw -B -V -ff -s .github/settings.xml -ntp install
    - name: Analyze with SonarCloud
      if: ${{ github.repository == 'dropwizard/metrics' && matrix.java_version == '11' }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: ./mvnw -B -ff -s .github/settings.xml -ntp org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
